html {
    background: darkslategray;
}

body {
    width: 640px;
    margin: 0 auto;
}

h1 {
    padding-top: 0.5em;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 0.5em;
    border-bottom: 2px solid black;
    margin-bottom: 0.5em;
}

.atalhos {
    width: 100%;    
    justify-content: space-around;
    font-size: 22px;
    /* topo | direita | inferior | esquerda */
    margin: 1em 0 1em 0;
    
        
}
.atalhos ul{
    text-align: center;
}

.atalhos li{
    color: greenyellow;
    margin: 0 0 0 20px;
    display: inline-block;
    cursor: pointer;
}

.atalhos li:hover{
    color: blueviolet;
}

.escolhaDados {
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    background: cadetblue;
    border: 1px solid mediumaquamarine;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
}

form table {
    width: 100%;
}

form td {
    width: 50%;
    padding: 5px;
    text-align: right;
}

form label {
    font-size: 17px;
}

form .input {
    font-size: 16px;
    text-align: left;

}

form .input-entrada {
    width: 50%;
    padding: 3px;
    background: darkseagreen;
    border: solid 1px seagreen;
    border-radius: 2px;
    box-shadow: 1px 1px 2px black;

}

form .enviar {
    font-size: 18px;
    text-align: center;
}

form .play {
    font-size: 17px;
    margin-top: 20px;
    font-weight: bold;
    height: 30px;
    width: 40%;
    background: lightgreen;
    border: solid 1px darkslategray;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #666;
    cursor: pointer;
    transition: 0.1s all;
}

.play:hover {
    background: rgb(79, 248, 79);

}

.play:active {
    background-color: rgb(217, 255, 0);
}

.containerBotoes {
    width: 67%;
    padding: 100px 0 0 0;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;

}

.botoesNav2{
    font-size: 17px;    
    font-weight: bold;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0px 10px 10px 0px;    
    width: 100px;
    background: lightgreen;
    border: solid 1px darkslategray;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
    transition: 0.1s all;
}

.botoesNav2:hover {
    background: rgb(79, 248, 79);

}

.botoesNav2:active {
    background-color: rgb(217, 255, 0);
}


.blocoNumeros {

    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-content: stretch;
    justify-content: center;    
    align-items: flex-start;
    width: 60%;
    margin: 0 auto;
    background: cadetblue;
    border: 1px solid mediumaquamarine;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    
}

div .apresentaDados {
    font-weight: bold;
    margin: 2px;
    width: 40px;
    height: 40px;    
    background-color: lightgoldenrodyellow;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 4px;
    box-shadow: 2px 3px 4px #666;
    
    
}

.apresentaDados:hover{
    transform: scale(1.05);
}

.soma-ativada {
    width: 100px;
    
    background: rgb(255, 70, 70);
    margin: 20px auto 0 auto;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 1px 1px 2px black;
}

.soma p {
    text-align: center;
    /* topo | direita | inferior | esquerda */
    margin: 0.5em 0 0.5em 0;
    font-size: 22px;
    font-weight: bold;
}

